<div class="filter pb-3">
    <h6 class="mb-0">{{ ('general.filter.' ~ label)|lower|trans }}</h6>

    <div class="card">
        <div class="card-body">

            <div class="form-group">
                <input type="text" class="form-control" name="{{ fieldname }}" value="{{ currentValue }}">
            </div>

            <div class="d-flex justify-content-end pt-3">
                <button type="submit" class="btn btn-sm btn-outline-primary">{{ 'general.filter.apply' | trans }}</button>
            </div>
        </div>


    </div>


</div>