<section class="jumbotron bg-white text-center">
    <div class="container">
        <h2 class="jumbotron-heading">{{ pimcore_input('infoHeading',{'placeholder': 'Heading'}) }}</h2>
        <p>{{ pimcore_input('infoSummary',{'placeholder': 'Summary'}) }}<p>
            {{  pimcore_link('infoLinkPrimary', {'class': "btn btn-primary my-2"}) }}
            {{  pimcore_link('infoLinkSecondary', {'class': "btn btn-secondary my-2 ml-3"}) }}
        </p>
    </div>
</section>