{% extends 'layouts/layout.html.twig' %}


{% block content %}

    <div class="text-center">

        <div class="form-signin mb-5">

            <form method="post">
                <h1 class="display-3 mb-3 font-weight-normal">{{ 'account.password-recovery' | trans }}</h1>
                <input type="email" id="email" name="email" required="required" class="form-control" value="{{ emailPrefill }}" />

                <div class="form-group">
                    <button type="submit" id="_submit" name="_submit" class="btn-success btn-lg btn-block mt-4 btn">{{ 'account.send-recovery-mail' | trans }}</button>
                </div>

            </form>

        </div>
    </div>

{% endblock %}