# remove the following ignores for your project
/app/constants.php

# symfony default
/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/web/bundles/

# local config
/.env.local
/.env.local.php
/.env.*.local
!/app/config/local
/app/config/local/*
!app/config/local/.gitkeep

# pimcore legacy (remove this for your own development)
!/legacy
/legacy/*
!legacy/.gitkeep
!legacy/bundle

/var/*
!/var/.gitkeep
!/var/classes/
/var/classes/DataObject

!/var/config
/var/config/system.yml
/var/config/debug-mode.php
/var/config/maintenance.php

# project specific recommendations
/var/config/tag-manager.php

#/web/var/
/web/sitemap*.xml

# PHP-CS-Fixer
/.php_cs
/.php_cs.cache

# composer.local.json is referenced in composer-merge-plugin
# remove this for your projects if you want to track the file
/composer.local.json

# composer
/vendor/

# PhpStorm / IDEA
.idea
# NetBeans
nbproject

# Core / bundle development
/dev/

# keep legacy paths ignored for easier migration
/plugins/
/tools/
/website/
.temp
