{% extends 'layout.html.twig' %}

{% block content %}

{#Hero caraousel#}
    {{ include('includes/hero-carousel.html.twig') }}
{#Introduction section#}
    {{ pimcore_areablock('content') }}
{#Aktuelle News section#}
<section class="jumbotron bg-light text-center">
    <div class="container">
        <h2 class="jumbotron-heading">Aktuelle News</h2>
        <div class="card-deck mb-3 text-center">
            <div class="card custom-standard-card mb-4 shadow-sm">
                <img src="/static/images/9.png" height="auto" width="100%" />

                <div class="card-body">
                    <h4 class="card-title pricing-card-title text-uppercase">Volkswagen Kafer VW</h4>
                    <p class="card-text">This is a wider card with supporting text below as additional content</p>

                    <button type="button" class="btn btn-lg btn-secondary">Secondary Button</button>
                </div>
            </div>
            <div class="card  custom-standard-card mb-4 shadow-sm">
                <img src="/static/images/8.png" height="auto" width="100%" />
                <div class="card-body">
                    <h4 class="card-title pricing-card-title text-uppercase">Lorem Ipsum Dolor sit</h4>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in</p>
                    <button type="button" class="btn btn-lg btn-secondary">Secondary Button</button>
                </div>
            </div>
            <div class="card  custom-standard-card mb-4 shadow-sm">
                <img src="/static/images/10.png" height="auto" width="100%" />
                <div class="card-body">
                    <h4 class="card-title pricing-card-title text-uppercase">Peugeot  p 172 m</h4>
                    <p class="card-text">This is a wider card with supporting text below as additional content.</p>
                    <button type="button" class="btn btn-lg btn-secondary">Secondary Button</button>
                </div>
            </div>
        </div>
    </div>
</section>
{#Image Grid links#}
<section class="section grid-gallery">
    <div class="row m-0">
        <a href="#" class="col-md-6 grid-gallery-item zoom-outer">
            <span  class="tint zoom-inner">
                <img src="/static/images/2.png">
                <div class="grid-gallery-item-text">
                    <h2 class="text-uppercase">Headline</h2>
                    <h5>Subheadline</h5>
                </div>
            </span>

        </a>
        <a href="#" class="col-md-6 grid-gallery-item zoom-outer">
            <span  class="tint zoom-inner">
                <img src="/static/images/3.png">
                <div class="grid-gallery-item-text">
                    <h2 class="text-uppercase">Headline</h2>
                    <h5>Subheadline</h5>
                </div>
            </span>

        </a>
    </div>
    <div class="row m-0">
        <a href="#"  class="col-md-6 grid-gallery-item zoom-outer">
            <span  class="tint zoom-inner">
                <img src="/static/images/1.png">
                <div class="grid-gallery-item-text">
                    <h2 class="text-uppercase">Headline</h2>
                    <h5>Subheadline</h5>
                </div>
            </span>

        </a>
        <a href="#" class="col-md-6 grid-gallery-item zoom-outer">
            <span  class="tint zoom-inner">
                <img src="/static/images/4.png">
                <div class="grid-gallery-item-text">
                    <h2 class="text-uppercase">Headline</h2>
                    <h5>Subheadline</h5>
                </div>
            </span>

        </a>
    </div>
</section>
{#Bestseller section#}
<section class="jumbotron bg-light text-center">
    <div class="container">
        <h2 class="jumbotron-heading">Beliebteste</h2>
        <div class="card-deck mb-3 text-left">
            <div class="card custom-product-card mb-4 shadow-sm">
                <img src="/static/images/5.png" height="auto" width="100%" />
                <div class="card-body pricing">
                    <h4 class="card-title pricing-card-title text-uppercase">VW Bus</h4>
                    <p class="card-text">Cabrio 1200 34PS, Original</p>
                    <p class="card-price">€ 25.900,-</p>
                    <div class="row">
                        <div class="col-6 pr-1">
                            <button type="button" class="btn btn-block btn-secondary">Details</button>
                        </div>
                        <div class="col-6 pl-1">
                            <button type="button" class="btn btn-block btn-primary">Kaufen <i class=" ml-2"><img src="/static/images/icons/cart.svg" height="20" width="auto"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card custom-product-card mb-4 shadow-sm">
                <img src="/static/images/6.png" height="auto" width="100%" />
                <div class="card-body pricing">
                    <h4 class="card-title pricing-card-title text-uppercase">Chevrolet</h4>
                    <p class="card-text">Cabrio 1200 34PS, Original</p>
                    <p class="card-price">€ 25.900,-</p>
                    <div class="row">
                        <div class="col-6 pr-1">
                            <button type="button" class="btn btn-block btn-secondary">Details</button>
                        </div>
                        <div class="col-6 pl-1">
                            <button type="button" class="btn btn-block btn-primary">Kaufen <i class=" ml-2"><img src="/static/images/icons/cart.svg" height="20" width="auto"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card custom-product-card mb-4 shadow-sm">
                <img src="/static/images/7.png" height="auto" width="100%" />
                <div class="card-body pricing">
                    <h4 class="card-title pricing-card-title text-uppercase">Volkswagen Käfer</h4>
                    <p class="card-text">Cabrio 1200 34PS, Original</p>
                    <p class="card-price">€ 25.900,-</p>
                    <div class="row">
                        <div class="col-6 pr-1">
                            <button type="button" class="btn btn-block btn-secondary">Details</button>
                        </div>
                        <div class="col-6 pl-1">
                            <button type="button" class="btn btn-block btn-primary">Kaufen <i class=" ml-2"><img src="/static/images/icons/cart.svg" height="20" width="auto"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{%  endblock %}