{% extends('layouts/email.html.twig') %}

{% block content %}

    <table class="spacer">
        <tbody>
        <tr>
            <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
        </tr>
        </tbody>
    </table>
    <table class="row">
        <tbody>
        <tr>
            <th class="small-12 large-12 columns first last">
                <table>
                    <tr>
                        <th>

                            <h3>{{ pimcore_input('greeting') }}</h3>
                            <p>{{ pimcore_wysiwyg('greeting_text') }}</p>
                        </th>
                    </tr>
                </table>
            </th>
        </tr>
        </tbody>
    </table>

    {{
        pimcore_areablock('content', {
            'allowed': [
                'email-image',
                'email-wysiwyg', 
                'email-teaser',
                'email-news'
            ]
        })
    }}

{% endblock %}