<section class="jumbotron bg-light text-center">
    <div class="container">
        <h2 class="jumbotron-heading">{{ pimcore_input('productTeaserTitle', {'placeholder':'Enter Title'}) }}</h2>
        <div class="card-deck mb-3 text-left">
            {% for i in pimcore_iterate_block(pimcore_block('teaserblock')) %}
                {{ pimcore_renderlet('productTeaser', {
                    type: 'object',
                    classname: 'Car',
                    editmode: editmode,
                    controller: 'Default',
                    action: 'productCell',
                    title: 'Drag a product here',
                    height: '50vh',
                    width: '20vw',
                }) }}
            {% endfor %}
        </div>
    </div>
</section>