<section class="area-gallery-folder">

    {{
        pimcore_renderlet('gallery', {
            controller: 'App\\Controller\\DefaultController::galleryRenderletAction',
            title: 'Drag an asset folder here to get a gallery',
            height: 'auto'
        })
    }}

</section>

