{% extends 'layouts/layout.html.twig' %}


{% block content %}

    <div id="main-content" class="main-content">
        {% include 'product/listing_content.html.twig' %}
    </div>

{%  endblock %}
