{% set suffix = suffix ?? '' %}

{% if suffix is empty and editmode %}
    <style type="text/css">
        .teaser {
            max-width: 250px;
        }

        .teaser img {
            max-width: 100%;
        }
    </style>
{% endif %}

<div class="teaser card custom-standard-card mb-4 shadow-sm">
    {{
        pimcore_image('image' ~ suffix, {
            thumbnail: 'standardTeaser',
            imgAttributes: {class: 'img-fluid w-100'}
        })
    }}

    <div class="card-body">
        <h4 class="card-title pricing-card-title text-uppercase">{{ pimcore_input('title' ~ suffix) }}</h4>
        <p class="card-text">
            {{
                    pimcore_wysiwyg('text' ~ suffix, {
                    height: 100,
                    enterMode: 2,
                })
            }}
        </p>
        <p>
            {{
                pimcore_link('link' ~ suffix, {
                    class: 'btn btn-lg btn-secondary'
                })
            }}
        </p>
    </div>
</div>
