h5 {
    font-size: 1.5em;
    margin: 1em;
}

.pimcore_block_entry {
    margin-bottom: 5vh;
}

.grid-gallery-item .tint {
    display: block;
}

.grid-gallery-item .pimcore_block_entry {
    flex: 0 0 50%;
}
.pimcore_block_buttons {
    margin-bottom: 2vh;
}

.carousel-imageblock {
    background-color: var(--dark-gray);
}

.grid-gallery-item-text  {
    position: relative;
    left: 0;
    bottom: 10vh;
    z-index: 10;
    color: #fff;
    text-align: center;
}

.btn {
    padding: .375rem .75rem;
}

.custom-product-card {
    margin-bottom: 3.5rem !important;
}

.editmode-label {
    margin-bottom: 3px;
}

.editmode-label label {
    padding-right: 5px;
}

.teaser-icon > .icon > .image {
    line-height: normal;
    padding-top: 20px;
}

.teaser-icon .icon .pimcore_tag_select {
    position: absolute;
    right: -70px;
    top: 15px;
}

.teaser-icon .icon .image input {
    visibility: hidden;
}

.teaser-icon > .icon > .info > p, .teaser-icon > .icon > .info > div {
    margin: 1em 0 1em 0;
    padding: .15em;
}

.area-gallery-single-images .pimcore_block_entry {
    float:left;
    clear: none;
    width: 22%;
    height: 180px;
}

.area-gallery-single-images .pimcore_block_entry .col-md-3  {
    width: 95%;
}

.pimcore_area_edit_button {
    z-index: 99999;
}

.area-gallery-carousel .carousel-inner .pimcore_tag_image {
    min-height: 350px !important;
}

.area-gallery-carousel .carousel-inner .carousel-caption {
    top: 15vh;
    text-shadow: rgb(0, 0, 0) 0px 0px 5px;
}
