
h5 {
    font-size: 1.5em;
    margin: 1em;
}

.pimcore_block_entry {
    margin-bottom: 5vh;
}

.pimcore_block_buttons {
    margin-bottom: 2vh;
}

.carousel-imageblock {
    background-color: var(--dark-gray);
}