/* VARS */
:root {
    --purple-gradient: linear-gradient(135.12deg, #7E3CD6 0%, #6428B4 100%);
    --purple: #6428B4;
    --light-purple: #9D54FF;;
    --dark-gray: #434343;
    --light-gray: #F5F8F7;
    --dark-purple: #4B0082;
}

/* GLOBAL */

body {
    font-family: "Hind Guntur";
}

p {
    font-size: 18px;
    line-height: 34px;
}

main {
    background-color: var(--light-gray);
}


#main-content section {
    margin-bottom: 50px;
}

.main-content  {
    min-height: 70vh;
    padding: 3em;
}

/* GLOBAL - Headings */

h1 {
    font-size: 70px;
    font-weight: bold;
    letter-spacing: 4px;
    line-height: 132px;
    text-transform: uppercase;
}

h2 {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 4px;
}

h3 {
    font-size: 40px;
    letter-spacing: -0.86px;
    line-height: 76px;
}

h4 {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -0.56px;
    line-height: 56px;
}

h5 {
    font-size: 30px;
    letter-spacing: -0.56px;
    line-height: 56px;
}

h6 {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -0.38px;
    line-height: 37px;
}

/* GLOBAL - Display Headings */

.display-1 {
    font-size: 70px;
    font-weight: bold;
    letter-spacing: 4px;
    line-height: 132px;
    text-transform: uppercase;
}

.display-2 {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 4px;
    line-height: 95px;
    text-transform: initial;
}

.display-3 {
    font-size: 40px;
    line-height: 76px;
    text-transform: initial;
}

.display-4 {
    font-size: 30px;
    font-weight: bold;
    line-height: 56px;
    text-transform: initial;
}

.small {
    font-size: 16px;
    line-height: 20px;
}

.label {
    font-size: 16px;
    line-height: 22px;
}

/* fix paddings due to font */
.list-group-item {
    padding-top: 15px;
    padding-bottom: 9px;
}

.custom-control label {
    padding-top: 3.5px;
}

input.form-control {
    padding-top: 10px;
    padding-bottom: 5px;
}

.quantity input {
    padding-top: 5px;
    padding-bottom: 0px;
    padding-left: 4px;
    padding-right: 4px;
}

.input-group .input-group-append .btn {
    padding-top: 7px;
    padding-bottom: 1px;
}

.badge {
    padding-top: 6.5px;
    padding-bottom: 2px;
}

.btn {
    padding-top: 10px;
    padding-bottom: 3px;
}

.btn.btn-sm {
    padding-top: 7px;
    padding-bottom: 2px;
}

.badge-primary {
    background-color: var(--dark-gray);
}

.list-group-item-secondary .badge-primary {
    background-color: var(--dark-purple);
}

/* BUTTONS */
.btn-primary {
    color: #FFFFFF;
    font-size: 18px;
    text-align: center;
    border-radius: 6px;
    background: linear-gradient(135.12deg, #7E3CD6 0%, #6428B4 100%);
    border-color: var(--purple);
}

.btn-outline-primary {
    border-color: var(--purple);
    color: var(--purple);
}

.btn-secondary {
    color: var(--purple);
    font-size: 18px;
    text-align: center;
    border-radius: 6px;
    background-color: #FFFFFF;
    border-color: var(--purple);
}

.btn-secondary:hover {
    background-color: var(--dark-purple);
}

.btn-primary:hover {
    background: var(--dark-purple);
}

.dropdown-toggle::after {
    display: none;
}
.caret {
    border: none;
    color: var(--purple);
}

.dropdown
.btn-secondary {
    color: #1E1E1E;
}

.dropdown
.btn-secondary:hover {
    color: #FFFFFF;
}

.show>.btn-secondary.dropdown-toggle {
    background: var(--purple);
    border-color: var(--purple);
}

.custom-control-input:checked~
.custom-control-label::before {
    background-color: var(--purple);
}

.page-item .page-link {
    color: var(--dark-gray);
}

.page-item.active .page-link {
    color: #ffffff;
    background-color: var(--dark-purple);
    border: 1px solid #dee2e6;
}

.flip {
    transform: scaleX(-1);
}

.page-link {
    height: 100%;
}

.page-link span {
    background-image: url("../images/icons/arrow.svg");
    position: absolute;
    width: 8px;
    height: 16px;
    margin: 2px 0px 0px -3px;
    background-repeat: no-repeat;
}

/*
 * Custom translucent site header
 */

.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.site-header a:hover {
    text-decoration: none;
}

/*
 * PRODUCT DESIGN FOR DEVICES
 */

.product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}

.product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
}

.product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
}

.flex-equal > * {
    -ms-flex: 1;
    flex: 1;
}
@media (min-width: 768px) {
    .flex-md-equal > * {
        -ms-flex: 1;
        flex: 1;
    }
}

.overflow-hidden { overflow: hidden; }

.menu-links {
    font-size: 17px;
    font-weight: lighter;
}

.menu-links .active {
    color: #ffffff;
}

.menu-icon {
    height: 20.5px;
    width: 20.5px;
}

.carousel-inner > .item > img {
    width: auto;
    min-width: 100%;
    max-width: none;
}

.hero-banner {
    overflow: hidden;
    width: auto;
    min-width: 100%;
    height: auto;
    background-image: url("../images/hero1.png");
    background-size: cover;
    min-height: 700px;
    background-position: bottom;
}

.hero-text {
    color: #FFFFFF;
    font-family: "Hind Guntur";
    font-size: 26px;
    letter-spacing: 3px;
    line-height: 26px;
    text-align: center;
}



.carousel-imageblock img {

}

.carousel-caption {
    position: absolute;
    right: 15%;
    top: 20vh;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}
.custom-standard-card,
.custom-product-card {
    border-radius: 1.25rem;
    overflow: hidden;
}

.custom-standard-card.card-body,
.custom-product-card.card-body
{
    box-shadow: 0 30px 20px 0 rgba(30,30,30,0.06);
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(1.25rem - 1px);
    border-top-right-radius: calc(1.25rem - 1px);
}

.grid-gallery {
    margin-right: 0;
    margin-left: 0;
}
.grid-gallery .flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.grid-gallery-item {
    padding: 0;
    min-height: 20vh;
    min-width: 40vw;
    background-color: var(--dark-gray) !important;
}

.grid-gallery-item img {
    max-width:100%;
    max-height:100%;
}

.grid-gallery-item h1,
.grid-gallery-item h2 {
    margin-bottom: 0px;
    line-height: .5em;
}

.grid-gallery .pimcore_block_entry {
    flex: 0 0 50%;
    max-width: 50%;
}
.grid-gallery-item-text  {
    position: absolute;
    right: 15%;
    bottom: 5%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    vertical-align: text-bottom;
    text-align: center;
}

.custom-product-card .card-title {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 22px;
    min-height: 40px;
}
.custom-product-card .card-body,
.custom-standard-card .card-body {
    padding: 1.75rem;
}

/* some special styles for grid with filters */
.col-md-9 .col-md-4 .custom-product-card .card-body.pricing i {
    display: none;
}

.col-md-9 .col-md-4 .custom-product-card .card-body {
    padding: 1.25rem;
}

.custom-standard-card .card-text {
    line-height: 1.25em;
    margin-top: 10px
}

.custom-standard-card .card-title {
    font-family: "Hind Guntur";
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 22px;
    text-align: center;
    margin: auto;
}

.custom-product-card .card-text {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 20px;
}

.custom-product-card .card-price {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 22px;
}

.image-holder:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,255,255, 0.5);
    transition: all .3s linear;
}
.image-holder:hover:before {
    background: none;
}

/* BACKGROUND TINT */
.tint { background-color:black; display:inline-block; }
.tint img { opacity:0.7 }

/* ZOOMIN EFFECT */
.zoom-outer
{
    overflow: hidden;
}
.zoom-inner
{
    transition: all 0.5s ease;
}
.zoom-inner:hover
{
    transform: scale(1.2);
}

@media (max-width: 768px) {
    h1 {
        font-size: 2em;
        line-height: inherit;
    }

    h2 {
        font-size: 2em;
    }

    h5 {
        font-size: 1.25em;
        letter-spacing: 0;
        line-height: 2em;
    }
    .carousel-item img {
        max-width: 100%;
        height: auto;
        width: 100%;
        height: 70vh;
    }

    .hero-text {
        font-size: inherit;
        letter-spacing: 2px;
        line-height: 1em;
    }

    .pricing a i {
        display: none;
    }
}

@media (min-width: 768px) {
    .carousel-imageblock {
        height: 80vh;
        overflow: hidden;
        width: 100%;
    }
}

/* Navigation */
.menu-links > li {
    font-size: 17px;
    font-weight: lighter;
    padding: .5rem 2rem .5rem 2rem !important;
}
.menu-links > .dropdown > .dropdown-menu > li > a  {
    padding: .5em 1em .5em 1em;
}

.navbar-nav li a {
    color: #ffffff;
    display: block;
}

.menu-links .dropdown-menu {
    top: 80%;
}

.menu-icons .dropdown-menu {
    top: 130%;
}

.navbar-nav li .dropdown-menu a {
    color: #000;
}

@media (min-width: 992px) {
    .dropdown .dropdown-menu {
        animation-duration: 0.3s;
        -webkit-animation-duration: 0.3s;
        animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
        animation-name: slideIn;
    }
}

.form-control:focus{
    border-color: var(--purple);
    box-shadow: none;
    -webkit-box-shadow: none;
}

::selection {
    background: var(--light-purple);
    color: #ffffff;
}

.dropdown .dropdown-menu li > ul {
    margin: 0px;
}

.dropdown .dropdown-menu li > ul {
    padding: 0 0 0 1.5em;
}

.dropdown .dropdown-menu li > ul > li {
    list-style: none;
}

.dropdown .dropdown-menu li > ul > li > a {
    padding: .3em;
}

.dropdown .dropdown-menu li a:hover {
    background-color: lightgray;
}

.dropdown-menu-arrow {
    top: -25px;
    left: 20%;
    width: 0;
    height: 0;
    position: relative;
}

.dropdown-menu-arrow-search {
    left: 15%;
}

.dropdown-menu-arrow-right {
    left: 90%;
}

.dropdown-menu-arrow-left {
    right: 10%;
}

.dropdown-menu-arrow:before,
.dropdown-menu-arrow:after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-width: 7px 8px;
    border-style: solid;
    border-color: transparent;
    z-index: 1001;
}
.dropdown-menu-arrow:after {
    bottom: -18px;
    right: -8px;
    border-bottom-color: #fff;
}
.dropdown-menu-arrow:before {
    bottom: -17px;
    right: -8px;
    border-bottom-color: rgba(0,0,0,.15);
}


/* nav animations */
@media (min-width: 992px) {
    .animate {
        animation-duration: 0.3s;
        -webkit-animation-duration: 0.3s;
        animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
    100% {
        transform:translateY(0rem);
        opacity: 1;
    }
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
}

@-webkit-keyframes slideIn {
    0% {
        -webkit-transform: transform;
        -webkit-opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        -webkit-opacity: 1;
    }
    0% {
        -webkit-transform: translateY(1rem);
        -webkit-opacity: 0;
    }
}

.slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
}

/* accordion */
#accordion .card-header {
    padding: 0;
}

#accordion .card-header .btn {
    color: var(--purple);
}

/* embed */
.area-embed .embed > *, .area-embed .embed iframe {
    width: 100%;
}

.area-embed .embed {
    padding-bottom: 20px;
}


/* icon teasser */

.teaser-icon > .icon {
    text-align: center;
    position: relative;
}

.teaser-icon > .icon > .image {
    position: relative;
    z-index: 2;
    margin: auto;
    width: 88px;
    height: 88px;
    border: 8px solid white;
    line-height: 88px;
    border-radius: 50%;
    background: var(--purple);
    vertical-align: middle;
}

.teaser-icon > .icon:hover > .image {
    background: var(--dark-purple);
}

.teaser-icon > .icon > .image > i {
    font-size: 32px !important;
    color: #fff !important;
    top: 5px !important;
    left:0;
}

.teaser-icon > .icon:hover > .image > i {
    color: white !important;
}

.teaser-icon > .icon > .info {
    margin-top: -24px;
    background: rgba(0, 0, 0, 0.04);
    border: 1px solid #e0e0e0;
    padding: 15px 0 10px 0;
}

.teaser-icon > .icon:hover > .info {
    background: rgba(0, 0, 0, 0.04);
    border-color: #e0e0e0;
    color: white;
}

.teaser-icon > .icon > .info > h3.title {
    font-size: 36px !important;
    letter-spacing: .08em;
    line-height: 1.25em;
    margin-top: 1em;
}

.teaser-icon > .icon > .info > p, .teaser-icon > .icon > .info > div {
    color: #666;
    line-height: 1.5em;
    margin: 20px;
}

.teaser-icon > .icon:hover > .info > h3.title, .teaser-icon > .icon:hover > .info > p{
    color: #222;
}

.teaser-icon > .icon > .info > .more a {
    font-size: 0.8em;
    text-transform: uppercase;
}


.teaser-icon .space {
    height: 30px;
}

.fa-selection .x-combo-list-item, .fa-selection .x-boundlist-item {
    font-family: "FontAwesome" !important;
    font-size: 26px !important;
}

.image-hotspot {
    position: absolute;
    background: rgba(100, 40, 180, 0.5);
}

.image-marker {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #2aabeb;
}

.area-gallery-folder a ,
.area-gallery-single-images a {
    text-decoration: none;
}

.area-gallery-single-images .pimcore_block_entry,
.area-gallery-folder a img ,
.area-gallery-single-images a img {
    margin: 0.5em;
}

.featurette-divider {
    margin: 40px 0;
}

.area-gallery-carousel .carousel-item {
    height: auto;
    min-height: 400px;
}

.area-gallery-carousel .carousel-inner .carousel-caption {
    top: 15vh;
}

/* Indicators list style */
.carousel-indicators.preview li {
    border: medium none;
    border-radius: 0;
    height: 54px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 5px !important;
    margin-top: 0;
    width: 100px;
}
/* Indicators images style */
.carousel-indicators.preview img {
    border: 2px solid #FFFFFF;
    float: left;
    height: 54px;
    left: 0;
    width: 100px;
    opacity: 0.7;
}
/* Indicators active image style */
.carousel-indicators.preview .active img {
    border: 2px solid #428BCA;
    opacity: 1;
}