<ul class="navbar-nav menu-icons">
    <li class="nav-item dropdown">
        <a class="dropdown-toggle py-2 d-none d-md-inline-block menu-icon ml-4" data-toggle="dropdown" href="#">
            <img src="/static/images/icons/search.svg" /></a>
        <ul class="dropdown-menu dropdown-menu p-2">
            <span class="dropdown-menu-arrow dropdown-menu-arrow-search"></span>
            <form class="form-inline md-form mt-0">
                <input class="form-control form-control-sm" type="text" placeholder="search and press enter"
                       aria-label="Search">
            </form>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="dropdown-toggle py-2 d-none d-md-inline-block menu-icon ml-4" data-toggle="dropdown" href="#">
            <img src="/static/images/icons/profile.svg" /></a>
        <ul class="dropdown-menu">
            <span class="dropdown-menu-arrow search arrow"></span>
            <a href="#" class="dropdown-item">Profile</a>
            <a href="#" class="dropdown-item">Settings</a>
            <div class="dropdown-divider"></div>
            <a href="#"class="dropdown-item">Logout</a>
        </ul>
    </li>
    <li class="nav-item">
        <a class="py-2 d-none d-md-inline-block menu-icon ml-4" href="/{{ app.request.locale }}/cart">
            <img src="/static/images/icons/cart.svg" /></a>
    </li>
    {{ include('includes/language.html.twig') }}
</ul>