{% set providers = ['google', 'twitter'] %}
{% set blacklist = blacklist is defined ? blacklist : [] %}
{% set route = route is defined ? route : 'hwi_oauth_service_redirect' %}
{% set connect = connect is defined ? connect : false %}

{% set translationKey = connect ? 'general.connect-to' : 'general.sign-in-with' %}


{% for provider in providers %}

    {% if(not (provider in blacklist)) %}

        <a class="btn btn-secondary btn-sm" href="{{ path(route, {service: provider}) }}">
            <i class="fab fa-{{ provider }}" aria-hidden="true"></i>
            {{ translationKey | trans([provider]) }}
        </a>

    {% endif %}

{% endfor %}
