{% import 'includes/macros.html.twig' as macros %}

<section class="area-image d-block">
    {{ macros.image_link(pimcore_image('image', { thumbnail: 'content', imgAttributes: {class: 'img-responsive'}}), editmode, 'galleryLightbox') }}
</section>
