<!doctype html>
<html lang="en-gb" class="no-js">
<head>
    <meta charset="utf-8">
    <script type="text/javascript">
        parent.location = "{{ goto }}";
    </script>
</head>

<body>

<p>Finishing Order</p>

</body>
</html>
