<!doctype html>
<html lang="en-gb" class="no-js">
<head>
    <meta charset="utf-8">
</head>

<body>

<p>{{ 'Payment Starting' }}</p>

{{ form(form) }}

<script type="text/javascript">
    // $(document).ready(function () {
    //     document.getElementById('paymentForm').submit();
    // });
</script>



</body>
</html>
